services:

  gateopener-rpi:
    container_name: gateopener-rpi
    image: gateopener-rpi
    user: root
    build:
      context: ./gateopener-rpi
    ports:
      - "8000:8000"
    environment:
      - APP_DEBUG=false
      - GATEOPENER_API_KEY=your-api-key
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./DATA:/data
    devices:
      - /dev/gpiomem:/dev/gpiomem
    restart: unless-stopped


  gateopener-sender:
    container_name: gateopener-sender
    image: gateopener-sender
    user: root
    build:
      context: ./sender
    environment:
      - OPENINGS_LOG_API_URL=http://<data-collection-service>/api/gateopenings
      - GATEOPENER_API_KEY=your-api-key
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./DATA:/data
    restart: unless-stopped



